PORT=8000
NODE_ENV=production
DATABASE_URL=mysql://USER:PASSWORD@HOST:3306/DATABASE

MONGO_URI=mongodb://USER:PASSWORD@HOST:27017/DATABASE?authSource=admin
MAIL=your_email@example.com
MAIL_PASS=your_app_password
AUTH_SECRET=change_me_to_a_random_uuid

SEED_EMAIL=admin@example.com
SEED_PASSWORD=change_me
SEED_NAME=Admin
SEED_LAST_NAME=User
SEED_COUNTRY_CODE=+1
SEED_MOBILE_NUMBER=5550000000

AWS_KEY=your_aws_key
AWS_SECRET=your_aws_secret
AWS_REGION=us-east-1
AWS_BUCKET_NAME=your_bucket
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCipqtnX7bKPe60ixXtTNOXrutccOCxeMo
FRONTEND_URL=http://13.127.79.155
ALLOWED_ORIGINS=http://13.127.79.155,https://43.204.34.10,https://43.204.34.10.nip.io,http://localhost:3000,https://grubpac.dynu.net

JWT_ACCESS_TOKEN_EXPIRY=86400
JWT_REFRESH_TOKEN_EXPIRY=604800
CLIENT_DASHBOARD_URL=http://13.127.79.155
AUTH_SECRET=hpiVCzoKKkfMERUaPxTl/K6v8pguReHxQ5KJKaH6vjWbVR/U169C5NjFWFk=
FOOD_AUTH_SECRET=3fe67e523f77f89528825438c23211119b207307d4d08d25244b23c3b2942cd6a831f9533362b27d48ebc1da1d6d424cefe7af48e2e225c1a05d4d3f8fb2111c
